<%- include('partials/header'); -%>
<h2>Are you sure you want to delete post with id : <%=id%> ?</h2>

<a href="/delete/<%=id%>"><button type="button" class="btn btn-danger">Yes</button></a>
<a href="/posts"><button type="button" class="btn btn-primary">No</button></a>


<%- include('partials/footer'); -%>
